.exporter-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    h1 {
      margin: 0;
      padding: 20px;
    }
  }

  .playlists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    gap: 10px;
    padding: 10px;
    flex: 1;

    .playlist-card-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  footer {
    align-self: flex-end;
    padding: 5px;

    a {
      color: black;

      &:visited {
        color: black;
      }

      &:hover {
        color: lighten($color: black, $amount: 25);
      }
    }    
  }
}
