.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    h1 {
      margin: 0;
      padding: 20px;
    }
  }

  section {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .info {
    justify-content: center;
    padding: 20px;
  }
  
  .authorization {
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}
